<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<%- include("./partials/head") %>

	<body class="bg-primaryBackground">
		<div class="flex flex-col lg:flex-row min-h-screen">
			<!-- Sidebar -->
			<%- include('./partials/sidebar') %>

			<!-- Main Content -->
			<main class="flex-1 p-4 lg:p-6">
				<header
					class="w-full flex items-center justify-between flex-wrap gap-2">
					<h2 class="font-bold text-202020 text-lg lg:text-xl">
						صفحه اصلی
					</h2>
				</header>

				<%- include('./partials/toast') %>

				<div class=" mt-8">
					خوش آمدید کاربر: 
					<%= user.email %>
				</div>
			</main>
		</div>
	</body>
</html>