<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= title %></title>

	<!-- Remixicon CDN -->
	<link
		href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
		rel="stylesheet" />

	<!-- Choices JS -->
	<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

	<!-- CSS -->
	<link rel="stylesheet" href="/css/output.css" />
</head>
