<!-- Error Messages -->
<% if (errorMessages && errorMessages.length > 0) { %> <%
errorMessages.forEach((errorMessage, index) => { %>
<div
	id="error-message-<%= index %>"
	class="w-full min-h-8 rounded-lg mt-4 bg-error text-white border border-error-light-1 text-sm flex items-center p-4 gap-1 relative">
	<i class="ri-error-warning-line"></i>
	<span><%= errorMessage %></span>
</div>
<% }); %> <% } %>

<!-- Success Messages -->
<% if (successMessages && successMessages.length > 0) { %> <%
successMessages.forEach((successMessage, index) => { %>
<div
	id="success-message-<%= index %>"
	class="w-full min-h-8 rounded-lg mt-4 bg-success text-white border border-success-light-1 text-sm flex items-center p-4 gap-1 relative">
	<i class="ri-verified-badge-line"></i>
	<span><%= successMessage %></span>
</div>
<% }); %> <% } %>

<script>
	// Auto-remove messages after 10 seconds
	document.addEventListener('DOMContentLoaded', () => {
		setTimeout(() => {
			document
				.querySelectorAll('[id^=error-message-], [id^=success-message-]')
				.forEach((message) => {
					message.remove();
				});
		}, 5000);
	});
</script>
